<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>templateUrl</title>
</head>
<body>
&lt;!&ndash;此文件应由外部协议打开，而不是本地协议&ndash;&gt;
&lt;!&ndash;This is a html file of templateUrl错误 文本节点无法替换标签&ndash;&gt;
<div>
    This is a html file of templateUrl
</div>
&lt;!&ndash;当自定义指令中replace属性为true时，需要将文本放置在标签中，否则报错&ndash;&gt;
&lt;!&ndash;
    replace：true
    <div>This is a html file of templateUrl</div>

    replace:false
    This is a html file of templateUrl
&ndash;&gt;
</body>
</html>-->
<div>
    This is a html file of templateUrl
</div>