<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ng-style动态改变样式</title>
    <script src="../libs/angular.min.js"></script>
</head>
<body>
<div ng-app="App" ng-controller="ctrl">
    <!--ng-style指令<element ng-style="expression"></element>
        expression string 表达式返回由CSS属性和值组成的对象
        ng-style指令为HTML元素添加style属性。
        ng-style属性值必须是对象，表达式返回的也是对象。
        对象由CSS属性和值组成，即key=>value对。注意：value需要用单引号引上（ng-style指令指定的表达式必须是个单层的json对象）
    -->
    <span ng-style="{color:'red',fontSize:'30px'}">ng-style动态改变样式</span>
    <br/>
    <hr/>

    <!--通过用户输入动态改变字体大小和颜色-->
    <!--重要：ng-model绑定的数据应用在ng-style中-->
    颜色：<input type="text" ng-model="color"><br/>
    大小：<input type="number" ng-model="size"><br/>
    <!--ng-style中可以写表达式（包括字符串拼接）-->
    <span ng-style="{color:color,fontSize:size+'px'}">ng-style动态改变样式</span>
</div>
<script>
    var app = angular.module('App', []);
    app.controller('ctrl', ['$scope', function ($scope) {

    }]);
</script>
</body>
</html>